<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <ol>
                <li>Create 2 components</li>
                <li>Output them beneath each other in app component</li>
                <li>Style with green or red text</li>
                <li>Output messages</li>
            </ol>
            <p>Use external templates or styles</p>
            <p>Create more components</p>
            <hr>
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
        </div>
    </div>
</div>

